/*===========login-page=============*/
.login-text {
    margin: 10px 0 0 309px;
}
.login-text h3 {
    color: #006766;
    font-size: 24px;
    line-height: 33px;
    margin: 35px 0 0 37px;
}
.margin_r {
  margin: 0 0 0 49px;
}
.login-form{
	 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #aebf76 0%, #dce3c4 33%, #fefefd 99%) repeat scroll 0 0;
/* 	margin: 10px 0 0 358px;*/	
	border: 1px solid #999999;
    border-radius: 12px;
    box-shadow: 0 2px 4px #999999;
    display: block;
	width:39.5%;
	margin: 0 0 0 59px;
 
}
.form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding: 0px 16px 8px !important;
}
.form-group {
  width: 67%;
}
.login-form form {
  padding: 19px 17px 6px;
}
.form-group input {
  border-left: 2px solid #999999;
  border-radius: 6px;
  border-top: 2px solid #999999;
  height: 36px;
  width: 98% !important;
  background:#e0e0e0;
}
.login-form label {
  color: #666666;
  font-size: 24px;
  font-weight: 200;
  margin: 1px 0 0;
}
.login-form.col-md-5 button {
  background: #f0f0f0 none repeat scroll 0 0;
  border-bottom: 2px solid #999999;
  border-right: 2px solid #999999;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  height: 40px;
  width: 29%;
  border-top: none;
  border-left: none;
  
}
.login-form.col-md-5 button:active {
    border-left: 2px solid #999999;
	border-top: 2px solid #999999;
	border-right: none;
	border-bottom: none;
}
.paginate_button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
}
.form-bordered .form-group
{
	padding:1px 15px !important;
	border-bottom-color: transparent;
}
#login-background  {
	background: url(../../adminassets/img/placeholders/headers/vegas_login.jpg) no-repeat left top/cover;
    width: 100% !important;
	height:100% !important;
}

body{
	background-color:#fff;
	height:100%;
	min-height:100%;
}

html{
	height:100%;
}
/* .form-control
{
	border-color:#344a3d;
} */
.form-control:focus
{
	border-color:#344a3d;
}
label  span.text_colors
{
  color:#344a3d;
  font-weight:600;  
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#344a3d;
  font-weight:600;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color:#344a3d;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color:#344a3d;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color:#344a3d;
}
.btn-modify
{
	font-weight:bold;
	text-transform:uppercase;
	font-size:20px;
	width:120px;
	color:#ffffff;
}
.btn-grey
{
	background-color:#949494;
	border-color:#6f6f6f;
	color:#ffffff;
}
.btn-grey:hover ,.btn-grey:focus
{
	background-color:#949494;
	border-color:#6f6f6f;
	color:#ffffff;
}
#example_length , #example_filter
{
	display:none;
}
.big_btn 
{
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3048d1;
}
.big_btn:hover
{
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3048d1;
	background-color:#f0f5f2;
}
.table_modify   tbody > tr > td
{
	border-color:green;
}
.no-border-table tbody > tr > td
{
	border-color:transparent;
	width: 14%;
}

.no-border-table tbody > tr > td .form-control
{
	padding:0 !important;
	text-align:center
}
#example2_length ,#example2_filter
{
	display:none;
}

.setavg
{
 margin-left:8px;	
}
/*vegas football start*/

.form-img {
  padding: 20px 0 0;
}
/* .form-img.text-center img {
  width: 65% !important;
} */

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 12px 15px 8px;
}
.form-sign_1 {
    margin: 0 auto;
    max-width: 330px;
    padding: 0 6px 8px;
}
.dsIntro a {
  color: #551a8b;
  text-decoration: underline;
}
.form-login input {
  border: 1px solid #006766;
  border-radius: 0;
  height: 34px;
  margin: 62px 0 13px;
  width: 86.7%;
}
.form-login input:focus {
    border: 1px solid #006766;
    box-shadow: none;
}
/* .form-login span {
    margin: -23px 0 0;
} */
 .form-login button {
	background:#ffc900;
	border:none;
    border-radius: 0 !important;
    font-size: 22px;
    font-weight: bold;
    height: 60px;
	position: relative !important;
}
/* .form-login button:active  , .form-login button:hover {
	background:#ffc900;
	border:none;
    border-radius: 0 !important;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
} */ 
/*  .form-login span {
   font-size: 32px;
	-webkit-margin-before: -16px;
	-webkit-margin-end: 10px;
	 position: absolute !important;
  right: 3px !important;
  top: 0px !important;
  margin:0 !important;
 
} */
.form-login span {
  font-size: 49px;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 2px;
}
.content-form h3 {
  color: #000000;
  font-size:22px;
  line-height: 30px;
  margin: 0 0 0 16px;
}

/* .content-form p {
  color: #653bef;
  margin: 56px 0 -45px ;
} */
.dsIntro {
    color: #653bef;
    font-family: serif;
    font-size: 11pt;
    font-weight: normal;
}
.splashText {
  font-size: 22px;
  line-height: 140%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  width: 312px;
  color:#000;
}
.dsIntro p {
    margin: 0 0 10px;
}
.content-form {
  margin: 0 auto;
  /* width: 73%; */
}
.top {
/* 	background:#006766;
 */	 background: #006766 ;
   /* position: fixed; */
   width: 100%;
   margin: 0;
   
}
.main-name h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 11px 0 14px;
    /* height:33px; */
}
.upper-data h3 {
    font-size: 20px;
    margin: 4px 0 0;
	color:#006766;
	font-weight:700;
}
.snd-data h4 {
    color: #000000;
    margin: 25px 0 0;
}
.heading {
    background: #006766 none repeat scroll 0 0;
    margin: 10px 0 8px;
}
.heading p {
    color: #ffffff;
    margin: 7px 0px;
}
.table-data span{
	color:#095bf2;
	font-weight:bold;
}
.table-data h4 {
    color: #000000;
 }
 .table-data .color {
    color: #006766;
    font-size: 14px;
    font-weight: 100 !important;
}
table td {
    color: #000000;
    font-size: 13px;
    /* padding: 1px 18px; */
	/* white-space: nowrap; */
}
table {
    width: 100%;
	margin-bottom:5px;
}
.snd-table-data table th {
    background: #006766 none repeat scroll 0 0;
    color: #ffffff;
    font-weight: lighter;
    padding: 10px 0;
    width: 9%;
}
.snd-table-data {
    overflow: hidden;
}
.snd-table-data .completedRow {
    background: #6ddd4e none repeat scroll 0 0 !important;
    border-bottom: 1px solid #ffffff;
    color: #ffffff !important;
}
.img-icon {
    margin: 3px 0 0 22px;
}
.footer {
    background: #ffffff none repeat scroll 0 0;
    margin: -66px 0 0;
    position: fixed;
    width: 100%;
	    bottom: 0;
}
.feetball {
    background-image: url("../image/feetball.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.footer-bottom {
    border-top: 2px solid #cccccc;
}
.footer-bottom ul li {
    padding: 0 30px;
}
.footer-bottom li a {
    font-size: 12px;
	color:#999;
	text-decoration:none;
}


.height-table , .height-tablex {
  /* height: 100% ; */
  margin: 0;
   overflow-x: hidden !important;
  overflow-y: scroll;
/*   position: static;
 */  width: 100%;
  z-index: -999;
}

.table-data .green {
    color: #08af49;
    font-weight: bold;
}
.table-data .orange {
    color: #fcab1a;
    font-weight: bold;
}
.table-data .red {
    color:#ce0d0d;
    font-weight: bold;
}
.table-data .blue {
    color:blue;
    font-weight: bold;
}
.BlueGames {
  color: #095bf2;
  font-weight: bold;
}
.GreenGames {
  color: #08af49;
  font-weight: bold;
}
.OrangeGames {
  color: #fca508;
  font-weight: bold;
}
.RedGames {
  color: #ce0d0d;
  font-weight: bold;
}
/*===========our-picks-end=============*/
/*===========gross-profit=============*/
.gross {
  line-height: 19px;
  margin: 10px 0;
  text-align: center;
}

.gross-upper th {
    background: #006766 none repeat scroll 0 0;
    font-size: 12px;
    font-weight: 100;
    padding: 0 11px 0 6px;
	color:#fff;
	text-align:center;
}
.gross-snd td {
    color: #000000;
    font-size: 13px;
    font-weight: 100;
    /* padding: 10px 11px 4px 6px; */
}
.gross .gross-snd {
    background: #dcf6e5 none repeat scroll 0 0;
    border-bottom: 1px solid #006766;
}
.summary h3 {
    color: #000000;
}
.summary h4 {
    color: #000000;
    font-size: 24px;
    margin: 15px 0 30px;
}
.profit {
    background: #0e56d9 none repeat scroll 0 0;
    text-align: center;
}
.profit p {
  color: #ffffff !important;
  font-size: 12pt;
  font-weight: 600;
}
.offer {
    margin: 0 0 30px;
}
.profit b {
    color: #ffffff !important; 
    font-size: 27px;
}
/* .button-part button {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-shadow: 0 -4px 17px #e0e0e0 inset;
  color: #333;
  font-family: "Helvetica Neue","Roboto","Segoe UI",sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin: 0 0 20px;
  padding: 4px 10px;
  width: 97%;
}
 */
.height-table h3 {
  font-size: 16pt;
  color: #000;
}

.height-table p {
  color: #000;
  font-size: 12pt;
}	

.button-part {
    margin: 0 0 25px;
}
.list-inline.img-icon.gross-img {
    margin: 0 102px;
}

/*===========gross-profit-end=============*/
/*===========Average=============*/
.gross-upper.average th {
    background: #006766 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    padding: 0 6px;
}
/*===========Average-end=============*/
/*===========Contact=============*/
.contact h3 {
    font-size: 18px;
}
.link-button span {
  color: #444;
  display: flow-root;
  font-size: 10px;
  margin-top: -3px;
  text-decoration: none;
  width: 100%;
}
.link-button a {
    text-decoration: none !important;
}

.msg_box {
    border: 2px solid #004dc8;
    padding: 10px 12px;
}
.score 
{
   margin: 0 0 0 137px !important;
}
.sidebar-user-name {
    font-size: 17px;
    font-weight: 300;
    margin-left: -50px;
	margin-top:0px;
}

.button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before {
  display: inline-block;
  font-size: 24px;
  line-height: 41px;
  padding: 0 0 1px;
  pointer-events: none;
  vertical-align: inherit;
}
.ion-chevron-right::before {
  content: "ï„¥";
  visibility: hidden;
  
}
.button.icon-right::before {
  float: right;
  padding-left: 0.2em;
  padding-right: 0;
}
.button.button-energized {
  background-color: #ffc900;
  
  color: #ffffff;
  border: 1px solid #e6b400;
 
}
.button::after {
  bottom: -6px;
  content: " ";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
  width: 100%;
}
.button-large .icon::before, .button-large.icon::before, .button-large.icon-left::before, .button-large.icon-right::before {
  font-size: 32px;
  line-height: 51px;
  padding-bottom: 2px;
}
.button-large {
  font-size: 22px;
  font-weight: 600;
}
.button-large {
    font-size: 22px;
    line-height: 49px;
    min-height: 59px;
    min-width: 68px;
    padding: 0 16px;
}

/*@media only screen and (min-width: 320px) and (max-width: 480px){
    .height-table , .height-tablex {
        max-height: 201px !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 599px){
    .height-table , .height-tablex {
        max-height: 341px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 767px){
    .height-table , .height-tablex {
        max-height: 341px;
    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .height-table , .height-tablex {
        max-height: 341px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1024px){
    .height-table , .height-tablex {
        max-height: 341px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1280px) {
    .height-table , .height-tablex {
        max-height: 341px;
    }
}*/
@media only screen and (min-width: 320px) and (max-width: 480px){
.form-img.text-center img {
  width: 85% !important;
}
.login-form.col-md-5 button {
  margin: 10px 0 0 12px;
  width: 38% ;
}
/* .form-group {
  margin: 0 7px !important;
  width: 95%;
} */
.form-group {
 display: inline-block;
 margin: 0 7px;
 width: 54%;
}
.login-form.col-md-5 button {
   margin: -32px 0 0;
   width: 38%;
}
.margin_r {
  margin:0 !important;
}
.form-img img {
  width: 100%;
}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding:0 !important;
}
.content-form {
  margin: 0 auto;
  width: 100% !important;
}
.form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding:8px 0 0 !important
}
} 
@media only screen and (min-width: 480px) and (max-width: 599px){

	.margin_r {
  margin:0 !important;
}
.form-img.text-center img {
  width: 55% !important;
}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding:0 !important;
}
.content-form {
  margin: 0 auto;
  width: 100% !important;
}
.form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding:8px 0 0 !important;
}
}
@media only screen and (min-width: 599px) and (max-width: 767px){
	.form-img.text-center img {
  width: 44% !important;
}
.margin_r {
  margin:0 !important;
}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding:0 !important;
}
.content-form {
  margin: 0 auto;
  width: 100% !important;
}
.form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding:8px 0 0 !important;
}
 .content-form {
  margin: 0 auto;
  width: 47%;
}
}
@media only screen and (min-width: 768px) and (max-width:991px){
	.form-img.text-center img {
  width: 86% !important;
}
   .content-form {
  margin: 0 auto;
  width: 87%;
} 
.margin_r {
  margin:0 !important;
}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding:0 !important;
}
.content-form {
  margin: 0 auto;
  width: 100% !important;
}
.form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding: 8px 0 0 !important;
}
}
@media only screen and (min-width: 991px) and (max-width:1024px){
	.form-img.text-center img {
  width: 81% !important;
}
}
   .content-form {
  margin: 0 auto;
  width: 87%;
} 
/* .form-sign_1 {
  margin: 0 auto;
  max-width: 330px;
  padding: 8px 0 8px !important;
} */
}

